/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v21-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


  /* ---------------------------------------------------------------------------------- */
  /* --------------------------------- DEFAULT CSS--------------------------------- */
  *{
    margin: 0;
    padding: 0;
  }
  :root{
    --theme: #1A76D1;
    --white: #fff; 
    --dark: #2c2d3f;
    --Poppins:'Poppins';
  }
  body{
    color: #757575;
    font-family: var(--Poppins);
    font-size: 14px;
    line-height: 24px;
  }
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    color: var(--dark);
  }
  ul,ol{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }


  /* ------------------------------------------------------------------------------------------ */
  /* -------------------------------Header CSS-------------------------------------------- */
.top_info{
  background-color: var(--white);
  color: var(--dark);
  font-weight: 400;    
  padding: 15px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.social li i{
  margin-right: 8px;
  font-size: 13px;
  color: var(--theme);
}

.header{
  position: relative;
  background-color: var(--white);
  z-index: 1000;
}
.header .logo img{
  margin-top: 18px;
  width: 178px;
}
.main_menu{
  position: relative;
  z-index: 2;
}
.main_menu li{
  padding: 25px 15px;
  margin-right: 15px;
  color: var(--dark);
  font-weight: 500;
}
.main_menu li i{
  font-size: 12px;
}

.nav li:hover a:before {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.nav li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: var(--theme);
  border-radius: 5px 5px 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}
.sub_menu{
  position: absolute;
	background-color: #fff;
	width: 220px;
  top: 100%;
	transform: rotateX(90deg);
	transition: .4s ease-in-out;
  box-shadow: 0 3px 5px #3333334d;
	transform-origin: top;
  border-left: 3px solid var(--theme);
}
.main_menu .sub_menu li a{
  background-color: white;
  color: #757575;
}
.main_menu li:hover .sub_menu{
  transform: rotateY(0deg);
}
.sub_menu li{
  padding: 12px 15px;
  margin-right: 0;
  border-bottom: 1px dashed #eee;
}

.get-quote{
  margin-top: 12px;
}
.get-quote .btn{
  padding: 13px 25px;
  background-color: var(--theme);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;   
}
 /* slider CSS */

#banner .item{
  position: relative;
}
#banner .item::before{
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
#banner .text_box{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50% , -50%);
}
#banner .text_box h1{
  color: var(--dark);
  font-size: 44px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#banner .text_box h1 span{
  color: var(--theme);
}
#banner .text_box p{
  color:  var(--dark);
  margin-top: 27px;
  font-weight: 400;
}
#banner .text_box button{
  margin-top: 30px;
  border: none;
  background: none;
}
#banner .text_box button a{
  color: #fff;
  background: var(--theme);
  margin: 0 10px 0 0; 
}
#banner .text_box button .btn2{
  color: #fff;
  background: var(--dark); 
}
.btn_hover2:hover {
  background: var(--theme)!important;
}
.hover:hover {
  background: var(--theme)!important;
  color: var(--white)!important;
}
.btn {
  padding: 13px 25px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  box-shadow: none;
  display: inline-block;
  transition: all .4s ease;
  border: none;
  border-radius: 4px;
}


.toggle_icon , .mob_main_menu{
	display: none;
}

/* schedule section CSS */
.schedule {
  background: #fff;
  margin: 0;
  padding: 0;
  height: 230px;
}
.schedule .single-schedule{
  position: relative;
  text-align: left;
  z-index: 3;
  border-radius: 5px;
  background: var(--theme);
  transition: all .3s ease-out 0s;
}
.single-schedule:hover{
  transition: all .3s ease-out;
  margin-bottom: 30px;
}
.schedule .single-schedule .inner {
  overflow: hidden;
  position: relative;
  padding: 30px;
  z-index: 2;
}
.schedule .single-schedule:hover:before {
  opacity: .8;
}
.schedule .single-schedule:before {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  background: var(--theme);
  opacity: 0;
  filter: blur(10px);
  transition: all .3s ease-out 0s;
}

.schedule .schedule-inner {
  position: relative;
  transform: translateY(-50%);
  z-index: 9;
}
.schedule .single-schedule .icon i {
  position: absolute;
  font-size: 110px;
  color: #fff;
  transition: all .3s ease-out;
  z-index: -1;
  visibility: visible;
  opacity: .2;
  right: -25px;
  bottom: -30px;
}
.schedule .single-schedule span {
  display: block;
  color: #fff;
}
.schedule .single-schedule h4 {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
  margin-top: 13px;
}
.schedule .single-schedule p {
  color: #fff;
  margin-top: 22px;
}
.schedule .single-schedule a {
  color: #fff;
  margin-top: 25px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.schedule .single-schedule a i {
  margin-left: 10px;
}
.schedule .single-schedule .time-sidual {
  overflow: hidden;
  margin-top: 17px;
}
.schedule .single-schedule .time-sidual li {
  display: block;
  color: #fff;
  width: 100%;
  margin-bottom: 3px;
}
.schedule .single-schedule .time-sidual li span {
  display: inline-block;
  float: right;
}

/* features section CSS */
.section-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 250px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 24px;
  position: relative;
  color: var(--dark);
}
.section-title p {
  font-size: 15px;
  color: #888;
  margin-top: 15px;
}
.features .single-features {
  text-align: center;
  position: relative;
  padding: 10px 20px;
}
.features .single-features:before {
  position: absolute;
  content: "";
  right: -72px;
  top: 60px;
  width: 118px;
  border-bottom: 3px dotted var(--theme);
}
.features .single-features .single-icon {
  position: relative;
}
.features .single-features h3 {
  padding-top: 128px;
  color: #2c2d3f;
  font-weight: 600;
  font-size: 21px;
}
.features .single-features p {
  margin-top: 20px;
}
.features .single-features .single-icon i {
  font-size: 40px;
  color: var(--theme);
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 0;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 100%;
  transition: all .4s ease;
}
/* fun facts CSS */

.fun-facts {
  background: url(../assets/asset\ 27.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.section {
  padding: 120px 0;
}
.overlay {
  z-index: 2;
}
.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--theme);
  opacity: .8;
  z-index: -1;
}
.fun-facts .single-fun {
  position: relative;
}
.fun-facts .single-fun i {
  position: absolute;
  left: 0;
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 67px;
  font-size: 28px;
  text-align: center;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 0;
  top: 50%;
  margin: -35px 0 0;
  transition: all .4s ease;
  border-radius: 50%;
}
.fun-facts .single-fun .content {
  padding-left: 94px;
}
.fun-facts .single-fun span {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  display: block;
  margin-bottom: 7px;
}
.fun-facts .single-fun p {
  color: #fff;
  font-size: 15px;
}
.single-fun:hover i{
  background: var(--white)!important;
  color: var(--theme)!important;
}
/* why-choose section CSS */

.why-choose {
  background: #fff;
}
.why-choose .choose-right {
  height: 100%;
  width: 100%;
  background-image: url(../assets/asset\ 28.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
}
.why-choose .choose-left h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2c2d3f;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 24px;
}
.why-choose .choose-left h3:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: var(--theme);
}
.why-choose .choose-left p {
  margin-bottom: 35px;
}
.why-choose .choose-left p {
  margin-bottom: 35px;
}
.why-choose .choose-left .list li {
  color: #868686;
  margin-bottom: 12px;
}
.why-choose .choose-left .list li i {
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background: var(--theme);
  color: #fff;
  font-size: 14px;
  border-radius: 100%;
  padding-left: 2px;
  margin-right: 16px;
}
.why-choose .choose-right .video {
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -35px;
  font-size: 21px;
  background: var(--theme);
  padding-left: 4px;
  cursor: pointer;
}

/* call-action section */
.call-action {
  background-image: url(../assets/asset\ 29.jpeg);
  background-size: cover;
  background-position: 50%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.call-action .content {
  text-align: center;
  padding: 100px 265px;
}
.call-action .content h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
}
.call-action .content p {
  color: #fff;
  margin: 30px 0;
  font-size: 15px;
}
.call-action .content .btn {
  background: #fff;
  margin-right: 20px;
  font-weight: 500;
  border: 1px solid #fff;
  color: var(--theme);
}
.call-action .content .btn2 {
  border: 1px solid #fff;
  color: #fff;
  margin-right: 0;
  background: transparent;
}

/* portfolio section */

.hover3:hover {
  opacity: 50%;
  transition: .3s ease-in-out;
}
#portfolio .item img{
  position: relative;
  z-index: 1;
}
#portfolio .item .hover4{
  position: absolute;
  z-index: 5;
  top: 45%;
  left: 37%;
  border: none;
  background-color: var(--white);
  color: var(--theme);
  padding: 7px 12px;
  border-radius: 4px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
}
.hover4:hover{
  opacity: 1;
  visibility: visible;
}

/* service section CSS */

.services .single-service {
  margin: 30px 0;
  position: relative;
  padding-left: 70px;
}
.services .single-service i {
  font-size: 45px;
  color: var(--theme);
  position: absolute;
  left: 0;
}
.services .single-service h4 {
  text-transform: capitalize;
  margin-bottom: 25px;
  color: #2c2d3f;
}
.services .single-service h4 a {
  color: #2c2d3f;
  font-size: 20px;
  font-weight: 600;
}
.services .single-service p {
  color: #868686;
}

/* testimonial slider CSS */

.testimonial {
  background-image: url(../assets/asset\ 30.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  padding-bottom: 64px;
}
.testimonial .section-title h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 24px;
  position: relative;
}
#testi .box{
  text-align: left;
  position: relative;
  background: #fff;
  padding: 40px 30px;
  border-radius: 5px;
  margin: 30px 20px;
}
#testi .box img {
  position: absolute;
  left: 30px;
  bottom: -26px;
  height: 53px;
  width: 53px;
  border-radius: 100%;
}
#testi .box p {
  color: #868686;
  font-size: 14px;
  margin: 0;
}
.testimonial {
  padding-bottom: 42px !important;
}
#testi .box h4{
  margin-top: 22px;
  color: #2c2d3f;
  font-weight: 500;
  font-size: 15px;
}
.owl-theme .owl-dots .owl-dot.active span{
  background: #fff;
  width: 20px;
  transition: .3s ease;
}
.owl-theme .owl-dots .owl-dot span{
  background: #fff;
}

/*  departments section CSS */

.departments .department-tab .nav {
  margin-bottom: 30px;
  position: relative;
}
.departments .department-tab .nav li.react-tabs__tab--selected {
  border-color: var(--theme);
}
.departments .department-tab .nav li.react-tabs__tab--selected i {
  color: var(--theme);
}
.departments .department-tab .nav li i {
  font-size: 50px;
}
.departments .department-tab .nav li {
  color: #fff;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 0 10px 20px;
  outline: none;
  cursor: pointer;
}
.departments .department-tab .nav li {
  text-align: center;
  margin-right: 54px;
}
.departments .department-tab .nav li.react-tabs__tab--selected .first {
  color: #2c2d3f;
}
.departments .department-tab .nav li .second {
  font-size: 14px;
  font-weight: 400;
  color: #868686;
  margin-top: 3px;
}
.departments .department-tab .nav li .first {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.departments .department-tab .nav li span {
  display: block;
}
.departments .department-tab .nav li i {
  font-size: 50px;
  color: #868686;
}
.departments .department-tab .nav li .first {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #868686;
}
.tab-content>.active {
  display: block;
}
.departments .department-tab .department-left h3 {
  color: #2c2d3f;
  font-weight: 600;
  font-size: 26px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.departments .department-tab .department-left .p1 {
  color: var(--theme);
  font-weight: 500;
  margin-bottom: 18px;
}
.departments .department-tab .department-left h3:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  background: #2c2d3f;
}
.departments .department-tab .department-left p {
  margin-bottom: 20px;
}
.departments .department-tab .department-left .list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 6px;
}
.departments .department-tab .department-left .list li i {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  line-height: 15px;
  color: #fff;
  background: var(--theme);
  text-align: center;
  border-radius: 100%;
  font-size: 8px;
  margin-right: 20px;
  top: 4px;
}
/* pricing-table section CSS */
.pricing-table {
  background: #f9f9f9;
  position: relative;
}
.pricing-table .single-table {
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 15px 0;
  padding: 45px 35px 30px;
}
.pricing-table .single-table .table-head {
  text-align: center;
}
.pricing-table .single-table .icon i {
  font-size: 65px;
  color: var(--theme);
}
.pricing-table .single-table .title {
  font-size: 21px;
  color: #2c2d3f;
  margin-top: 30px;
  margin-bottom: 15px;
}
.pricing-table .single-table .amount {
  font-size: 36px;
  font-weight: 600;
  color: var(--theme);
}
.pricing-table .single-table .table-list {
  padding: 10px 0;
  text-align: left;
  margin-top: 30px;
  list-style-type: none;
}
.pricing-table .table-list li {
  position: relative;
  color: #666;
  text-transform: capitalize;
  margin-bottom: 18px;
  padding-right: 32px;
}
.pricing-table .table-list i {
  font-size: 7px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: var(--theme);
  border-radius: 100%;
  padding-left: 1px;
}
.pricing-table .table-list li.cross i {
  background: #aaa;
}
.pricing-table .table-list i {
  font-size: 7px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  padding-left: 1px;
}
.pricing-table .table-bottom {
  margin-top: 25px;
}
.pricing-table .btn {
  padding: 12px 25px;
  width: 100%;
  color: #fff;
  background: var(--theme);
}
.pricing-table .btn:before {
  background: #2c2d3f;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: 50%;
  transition: all .4s ease;
  border-radius: 4px;
}
.pricing-table .single-table .amount span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #868686;
  margin-left: 8px;
}
/* team section CSS */
.team {
  background-image: url(../assets/asset\ 30.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.team .section-title h2, .team .section-title p {
  color: #fff;
}
.team .single-team {
  background: #fff;
  transition: all .3s ease;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 0 10px #00000021;
  border-radius: 5px;
  overflow: hidden;
}
.team .t-head {
  position: relative;
  overflow: hidden;
}
.team .t-head:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  content: "";
  z-index: 2;
}
img {
  height: auto;
  max-width: 100%;
}
.team .t-head img {
  width: 100%;
  position: relative;
}
.team .t-bottom {
  text-align: center;
  position: relative;
  padding: 25px 20px;
}
.team .t-bottom p {
  color: #666;
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
}
.team .t-bottom h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  color: #2c2d3f;
}

/* blog section CSS */
.blog {
  background: #fff;
}
.blog .single-news {
  background: #fff;
  position: relative;
  box-shadow: 0 0 10px #00000014;
}
.blog .single-news .news-head {
  position: relative;
  overflow: hidden;
}
.blog .single-news img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.blog .single-news .news-content {
  text-align: left;
  background: #fff;
  position: relative;
  padding: 30px;
  left: 0;
  z-index: 0;
}
.blog .single-news .news-content:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: var(--theme);
  
}
.blog .single-news .news-body .date {
  display: inline-block;
  background: var(--theme);
  color: #fff;
  padding: 4px 15px;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 10px;
}
.blog .single-news .news-body h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 24px;
}
.blog .single-news .news-body h2 a {
  color: #2c2d3f;
  font-weight: 500;
}
.blog .single-news .news-content p {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 23px;
  padding: 0;
}


/* clients section CSS */
.clients {
  background-image: url(../assets/asset\ 31.jpeg);
  background-size: cover;
  background-position: 50%;
  padding: 100px 0;
  position: relative;
}



/* appoinment section CSS */

.appointment {
  background: #fff;
  padding-top: 100px;
}
.appointment .form{
  margin-top: 30px;
}
.appointment .form .form-group{
  margin-bottom: 16px;
}
.appointment .form .form-select, .appointment .form input {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 0 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.appointment .form textarea{
  width: 100%;
  border: 1px solid #eee;
  text-transform: capitalize;
  border-radius: 4px;
}
.appointment .form textarea {
  height: 200px;
  padding: 18px;
  resize: none;
  box-shadow: none;
  outline: none;
}
.appointment .button .btn {
  font-weight: 500;
  color: #fff;
  background: var(--theme);
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c2d3f;
  transform: scaleX(0);
  transform-origin: 50%;
  border-radius: 4px;
}
.appointment .form p {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 0;
  color: #868686;
}

/* newsletter section CSS */

.newsletter {
  background: #edf2ff;
}
.newsletter .subscribe-text h6 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #2c2d3f;
}
.newsletter .subscribe-text p {
  color: #757575;
  margin: 0;
  line-height: 24px;
}
.newsletter .subscribe-form {
  position: relative;
}
.newsletter .common-input {
  height: 60px;
  width: 300px;
  color: #333;
  text-shadow: none;
  border-radius: 5px;
  padding: 0 25px;
  font-size: 14px;
  background: #fff;
  font-weight: 400;
  border: 1px solid transparent;
  box-shadow: none;
  outline: none;
}
.newsletter .btn {
  color: #fff;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0;
  width: 180px;
  position: relative;
  top: -2px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgb(188 199 255 / 75%);
  background: var(--theme)!important;
}
/* .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c2d3f;
  transform-origin: 50%;
} */
.btn_hover:hover {
  background: var(--dark)!important;
}

/* footer section CSS */
.footer {
  position: relative;
}
.footer .footer-top {
  padding: 100px 0;
  position: relative;
  background: var(--theme);
  z-index: 2;
}
.footer .footer-top:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .1;
  z-index: -1;
}
.footer .single-footer h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: capitalize;
  position: relative;
}
.footer .single-footer h2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  background: #fff;
}
.footer .single-footer p {
  color: #fff;
}
.footer .single-footer .social {
  margin-top: 25px;
}
.footer .single-footer .social li {
  display: inline-block;
  margin-right: 10px;
}
.footer .single-footer .social li a {
  height: 34px;
  width: 34px;
  line-height: 34px;
  border: 1px solid #fff;
  text-align: center;
  padding: 0;
  border-radius: 100%;
  display: block;
  color: #fff;
  font-size: 16px;
}
.footer .single-footer .social li a i{
  color: #fff;
  text-align: center;
}
.footer .single-footer.f-link li {
  display: block;
  margin-bottom: 12px;
}
.footer .single-footer.f-link li a {
  display: block;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
}
.footer .single-footer.f-link li a i {
  margin-right: 10px;
}
.footer .single-footer .time-sidual {
  margin-top: 15px;
  overflow: hidden;
}
.footer .single-footer .time-sidual li {
  display: block;
  color: #fff;
  width: 100%;
  margin-bottom: 5px;
}
.footer .single-footer .time-sidual li span {
  display: inline-block;
  float: right;
}
.footer .single-footer .newsletter-inner {
  margin-top: 20px;
  position: relative;
  color: #fff;
}
.footer .single-footer .newsletter-inner input {
  background: transparent;
  border: 1px solid #fff;
  height: 50px;
  line-height: 42px;
  width: 100%;
  margin-right: 15px;
  color: #fff;
  padding-left: 18px;
  padding-right: 70px;
  display: inline-block;
  float: left;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}
.footer .single-footer .newsletter-inner input::placeholder{
  color: #fff;
}
.footer .single-footer .newsletter-inner .button {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 50px;
  background: #fff;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  border: none;
  border-radius: 0 5px 5px 0;
  color: var(--theme);
  font-size: 25px;
}
.footer .single-footer .newsletter-inner .button i{
  font-size: 18px;
}

.footer .copyright {
  background: var(--theme);
  padding: 25px 0;
  text-align: center;
}
.footer .copyright .copyright-content p {
  color: #fff;
  margin-bottom: 0;
}
.footer .copyright .copyright-content p a {
  color: #fff;
  font-weight: 400;
  display: inline-block;
  margin-left: 4px;
}


.fixed_header 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: header_scroll 1s ease-in-out;
}

@keyframes header_scroll
{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
.sticky_top{
  width: 45px;
  height: 45px;
  background-color: var(--theme);
  color: var(--white);
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px #00000026;
}
.preloader
{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgb(0,163,254);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader img
{
  max-width: 100%;
}